@media screen and (max-width: 720px) {
  .mobile\:block {
    display: block;
  }
  .mobile\:flex {
    display: flex;
  }
  .mobile\:flex.align-center {
    align-items: center;
  }
  .mobile\:flex-column {
    flex-direction: column;
  }
  .mobile\:flex.justify-center {
    justify-content: center;
  }
  .mobile\:grid {
    display: grid;
  }
  .mobile\:hidden {
    display: none;
  }
  .mobile\:inline-block {
    display: inline-block;
  }
  .mobile\:bg-white {
    background-color: white;
  }
  .mobile\:bs-1 {
    box-shadow: 0 0 1rem 0.25rem rgba(0, 0, 0, 0.0588235294);
  }
  .mobile\:px-0\.5 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .mobile\:px-0\.75 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  .mobile\:px-1 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .mobile\:py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .mobile\:py-1\.5 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .mobile\:py-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .mobile\:pt-2 {
    padding-top: 2rem;
  }
  .mobile\:w-full {
    width: 100%;
  }
  .mobile\:w-content {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .mobile\:w-1 {
    width: 1rem;
  }
  .mobile\:w-2 {
    width: 2rem;
  }
  .mobile\:w-3 {
    width: 3rem;
  }
  .mobile\:w-4 {
    width: 4rem;
  }
  .mobile\:w-5 {
    width: 5rem;
  }
  .mobile\:w-8 {
    width: 8em;
  }
}