@media screen and (min-width: 721px) {
    .desktop\: {
        // DISPLAY
        &block { display: block; }
        &flex { 
            display: flex; 
            // ALIGN-ITEMS
            &.align- {
                &center { align-items: center; }
            }
            // FLEX-DIRECTION
            &-column { flex-direction: column; }
            // JUSTIFY-CONTENT
            &.justify- {
                &center { justify-content: center; }
            }
        }
        &grid {
            display: grid;
            &-col {
                &-2 {
                    grid-template-columns: 50% 50%;
                    gap:1rem 2rem;
                    padding-right: 1rem;
                }
            }
        }
        &hidden { display: none; }
        &inline-block { display: inline-block; }

        // BACKGROUND
        &bg- {
            // BACKGROUND COLOR
            &white { background-color: white; }
        }

        // BOX-SHADOW
        &bs {
            &-1 { box-shadow: 0 0 1rem 0.25rem #0000000f;}
        }

        // PADDING 
        &p {
            &x- {
                &0\.5 { padding-left: 0.5rem; padding-right: 0.5rem; }
                &0\.75 { padding-left: 0.75rem; padding-right: 0.75rem; }
                &1 { padding-left: 1rem; padding-right: 1rem; }
            }
            &y- {
                &1 { padding-top: 1rem; padding-bottom: 1rem; }
                &1\.5 { padding-top: 1.5rem; padding-bottom: 1.5rem; }
                &2 { padding-top: 2rem; padding-bottom: 2rem; }
            }
            &t- {
                &2 { padding-top: 2rem; }
            }
        }

        // WIDTH
        &w- {
            &full { width: 100%; }
            &content { width: fit-content; }
            &1 { width: 1rem; }
            &2 { width: 2rem; }
            &3 { width: 3rem; }
            &4 { width: 4rem; }
            &5 { width: 5rem; }
            &8 { width: 8em; }
        }
    }
}